@use './styles/variables' as *;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
    background-color: $background-color;
    color: $color-primary;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Regla para el grosor regular
@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// Regla para el grosor bold
@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

// Regla para el grosor SemiBold
@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Black.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

// Regla para el grosor Medium
@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Light.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

// Regla para el grosor Light
@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Thin.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}